* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #1500fd;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: #1500fd;
}

a:hover {
  color: rgb(0, 149, 255);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader-bar {
  height: 25px;
  width: 6px;
  margin: 0 3px;
  border-radius: 20px;
  animation: loader 2s ease-in-out infinite;
}

.bar-1 {
  background: linear-gradient(to right, #00e6e6, #00ccff, #0099ff, #0066ff);
  animation-delay: 0s;
  box-shadow: 0px 0px 15px 3px #00e6e6;
}

.bar-2 {
  background: linear-gradient(to right, #00ccff, #0099ff, #0066ff, #00e6e6);
  animation-delay: 0.1s;
  box-shadow: 0px 0px 15px 3px #00ccff;
}

.bar-3 {
  background: linear-gradient(to right, #0099ff, #0066ff, #00e6e6, #00ccff);
  animation-delay: 0.2s;
  box-shadow: 0px 0px 15px 3px #0099ff;
}

.bar-4 {
  background: linear-gradient(to right, #0066ff, #00e6e6, #00ccff, #0099ff);
  animation-delay: 0.3s;
  box-shadow: 0px 0px 15px 3px #0066ff;
}

@keyframes loader {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2);
  }

  100% {
    transform: scaleY(1);
  }
}

@media (max-width: 1020px) {
  .title {
    color: white;
  }

  .navbar-title {
    font-size: 15px;
  }

  .phrase {
    font-size: 20px;
  }

  .search-input input {
    width: 80%;
    height: 30px;
    font-size: 13px;
  }

  .btn-search {
    height: 30px;
    width: 40px;
  }

  .movie-card {
    display: flex;
    flex-direction: column;
  }

  .movie-img {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 0;
  }

  .movie-img img {
    display: flex;
    border-radius: 0;
  }

  .movie-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    max-height: 100%;
  }

  .top {
    border-radius: 0;
  }

  .base {
    border-radius: 0;
  }

  .line {
    height: 6px;
  }

  .informations h2 {
    font-size: 20px;
  }

  .lang-icon {
    font-size: 15px;
  }

  .informations p {
    font-size: 15px;
  }

  .star-icon {
    font-size: 15px;
  }

  .details {
    font-size: 15px;
    height: 35px;
    width: 90%;
  }

  .icon {
    height: 35px;
    width: 20%;
  }

  .overview {
    width: 100%;
  }

  .img_info {
    display: flex;
    flex-direction: column;
  }

  .back {
    font-size: 30px;
  }

  .movie-informations {
    width: 100%;
  }

  .genres {
    font-size: 10px;
  }

  .info h3 {
    font-size: 15px;
  }

  .info p {
    font-size: 13px;
  }

  .info a {
    font-size: 13px;
  }

  .info-icon {
    font-size: 13px;
  }

  .companies {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
}
