.search-icon {
  font-size: 23px;
  color: white;
}

.search-container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  height: 145px;
  background-image: url("/bg-top.png");
  background-repeat: no-repeat;
  border-bottom: 3px solid #3bf8ff;
  background-size: cover;
}

.navbar-title {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  letter-spacing: 1px;
}

.phrase {
  color: #3bf8ff;
  font-size: 25px;
}

.search-input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
  margin-top: 5px;
  justify-content: flex-start;
}

.input {
  display: flex;
  width: 100%;
  position: relative;
}

.input input {
  display: flex;
  height: 36px;
  padding: 10px;
  font-size: 16px;
  width: 95%;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  border: none;
  height: 35px;
}

.history-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 82%;
  z-index: 1;
  width: 47%;
}

.history {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
  padding: 10px;
  font-size: 14px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
  cursor: pointer;
}

.btn-search {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  height: 35px;
  width: 6%;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-search:hover {
  transition: 0.5s;
  background: linear-gradient(90deg, rgb(0, 0, 209) 0%, #3bf8ff 100%);
}
