.search-icon {
  font-size: 25px;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  height: 210px;
  backdrop-filter: blur(1rem);
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(137.48deg, #3bf8ff 10%, #1500fd 45%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
}

.navbar-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-left: 50px;
  letter-spacing: 1px;
}

.search-input {
  margin-left: 50px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.search-input input {
  width: 50%;
  height: 50px;
  border-radius: 20px 0px 0px 20px;
  padding: 10px;
  font-size: 16px;
}

.btn-search {
  background: linear-gradient(90deg, #3bf8ff 0%, rgb(0, 0, 209) 100%);
  height: 50px;
  width: 50px;
  outline: none;
  border: none;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-search:hover {
  transition: 0.5s;
  background: linear-gradient(90deg, rgb(0, 0, 209) 0%, #f3f0f5 100%);
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.input {
  height: 30px;
  width: 300px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  border: none;
  padding: 5px;
}

.btn {
  background-color: rgb(150, 0, 209);
  color: white;
  height: 30px;
  width: 40px;
  border: none;
  outline: none;
  border-radius: 0px 5px 5px 0px;
  transition: 0.4s;
}

.btn:hover {
  background: linear-gradient(90deg, #efd5ff 0%, rgb(150, 0, 209) 100%);
}
