.query-text-title {
  color: white;
  text-align: left;
  font-size: 16px;
  padding: 10px;
}

.query-text {
  color: aqua;
  text-transform: uppercase;
}

.search-page-container {
  padding: 10px;
}
