.search-page-container {
  display: flex;
  flex-direction: column;
}

.back-search {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 30px;
  color: #3bf8ff;
}

.back-search p {
  font-size: 16px;
}

.movies-container-search {
  display: grid;
  grid-template-columns: auto auto auto;
}

.query-text-title {
  color: white;
  text-align: left;
  font-size: 16px;
  padding: 10px;
}

.query-text {
  color: aqua;
  text-transform: uppercase;
}

.search-page-container {
  padding: 10px;
}

.no-results-found {
  display: flex;
  justify-content: center;
  width: 100%;
}

.text-no-results-found {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  font-size: 16px;
  color: white;
}
