.movie-card-search {
  color: white;
  margin: 10px;
  display: flex;
  border-radius: 12px;
  width: 500px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.movie-img-search {
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
}

.backdrop-search {
  width: 100%;
  object-fit: cover;
}
