.movie-card-search {
  color: white;
  margin: 10px;
  display: flex;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.movie-img-search {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  width: 100%;
  height: 550px;
}

.backdrop-search {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
