@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: 3px solid #3bf8ff;
}

.logo-space {
    display: flex;
}

.title {
    font-family: "Audiowide", cursive;
    font-size: 16px;
    display: flex;
    padding: 10px;
    margin: auto;
    color: white;
}

.logo {
    margin: auto;
    width: 36px;
    height: 36px;
}
