@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

nav {
  background: linear-gradient(90deg, #3bf8ff 0%, #1500fd 100%);
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.logo-space {
  display: flex;
}

.title {
  font-family: "Audiowide", cursive;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  padding: 10px;
  margin: auto;
  letter-spacing: 1px;
}

.logo {
  margin: 6px;
  width: 50px;
  height: 50px;
}
